:root{
    --pastelOrange:#FFA351;
    --peach:#FFBE7B;
    --custard:#EED971;
    --forestGreen:#2C5F2D;
    --moss: #97BC62;
    --yellowGreen: #ECF87F;
}

body{
    width:100%;
    background-color: var(--yellowGreen);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--forestGreen);
    width: 100%;
    height:75px;
    color:white;
}
h1 {
    font-size: 300%;
}
h2{
    font-size: 300%;
}
.navOptions {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

a{
    text-decoration: none;
}

p{
    font-size: 20px;
    line-height: 150%;
}
.header {
    width: 25%;
    color: var(--moss);
    border-right: 20px solid;
    border-color: var(--moss);
    padding:20px;
    margin:20px;
    background-color:white;
    height:fit-content

}

.contentBox{
    width: 75%;
    background-color: white;
    height: fit-content;
    margin: 20px;
    padding: 20px;
}

.aboutMeHeader{
    width: 100%;
    height:fit-content;
    margin: 10px 0;
    padding: 10px 0;
    border-right: 10px solid;
    border-color: var(--moss);

}

.highlightedWork{
    margin: 0 200px;
    border: 10px solid;
    border-color: var(--moss);
    height: 300px;
    background-image: url("../assets/Images/ReelAndMeal.png");
    background-repeat: no-repeat;
    background-size: 600px 300px;
    display: flex;
}

.highlightedWorkTitle{
    background-color: var(--moss);
    color:white;
    width:fit-content;
    height:fit-content;
    padding:10px;
    align-items: baseline;
}

.highlightedWork:hover{
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
}

.highlightedWork:hover .highlightedWorkTitle{
    color: black;
    box-shadow: 5px 5px 5px var(--forestGreen);

}

.otherWork{
    
    border:10px solid;
    border-color: var(--moss);
    width: 40%;
    height: 200px;
    margin: 10px 40px;
    justify-content: space-between;
    background-image: url("../assets/Images/underConstruction2.jpg");
    background-repeat: no-repeat;
    background-size: 410px 200px;
}

.otherWork:hover{
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
}

.otherWork:hover .otherWorkTitle{
    color: black;
    box-shadow: 5px 5px 5px var(--forestGreen);
}

.otherWorkBox{
    display: flex;
    width: 100%;
    margin: 10px 0;
}

.otherWorkTitle{
    background-color: var(--moss);
    color:white;
    width:fit-content;
    height:fit-content;
    padding:10px;
    align-items: baseline;
}

.contactMeBox{
    width: 30%;
    margin:20px;
}

#aboutMe {
    display:flex;
    height: fit-content;
}
#work {
    display:flex;
    height: fit-content;
    
}
#contactMe {
    display:flex;
    height: fit-content;
    
}